# MongoDB connection string for the DSA Notes database
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/dsathomas?retryWrites=true&w=majority

# Port for the local Express server backend
PORT=5000

# Environment mode
NODE_ENV=development
